{
    default_sni localhost
}

http:// {
    @captive {
        not host localhost 10.42.0.1 picaster.local
    }
    redir @captive http://10.42.0.1/sender 302

    @local {
        host localhost 10.42.0.1 picaster.local
    }
    handle @local {
        reverse_proxy {$APP_HOST:app}:3000
    }
}

https://localhost, https://10.42.0.1, https://picaster.local {
    tls internal
    reverse_proxy {$APP_HOST:app}:3000
}
